@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{box-sizing: border-box;
padding: 0%;
margin: 0%;}
body
{font-family: 'Roboto', sans-serif;}
h1
{color: #104C90;
    text-align: center;
font-size: 48px;
margin-bottom: 30px;
padding-top: 50px;}
    div
    {background-color: #F1F1F1;
    width: 500px;
margin: auto;
padding: 30px;
margin-top: 40px;}
h2
{color:#2E7AD3;
font-size:32px;
margin-bottom: 19px;}
img
{margin-bottom: 20px;}
p
{margin-bottom: 20px;}
samp
{background-color:#FF8000;
text-decoration: underline;
font-weight: 400px;}
button{background-color:#2E7AD3;
    padding: 10px;
    color:white;
    border: none;
    font-size: 16px;
    font-weight: 500;}